@import url('bootstrap-responsive.min.css');
@import url('bootstrap-3.3.5-dist/css/bootstrap.css');
@import url('font-awesome-4.4.0/css/font-awesome.min.css');
/*Variables*/
* {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  /*section-gray style*/
  /*Header*/
  /*END header*/
  /* Navigation */
  /* Shop-now-slider */
  /* END Shop-now-slider */
  /*sellers*/
  /* END sellers */
  /* Services */
  /* END Services */
  /*news*/
  /* END news */
  /* Footer */
  /*END Footer*/
}
html .section-gray {
  background-color: #f2f2f2;
}
html header {
  background-color: #ffffff;
}
html header .header-main {
  max-width: 1400px;
  margin: 0 auto;
  clear: both;
  /*sign-in*/
  /*END sign-in*/
  /*check-out*/
  /*END check-out*/
}
html header .header-main img {
  margin-top: 20px;
}
html header .header-main .sign-in {
  min-width: 120px;
  margin-top: 50px;
}
html header .header-main .sign-in span {
  position: absolute;
  margin-top: 1px;
  font-size: 1.3383333467168em;
  color: #5b5c5a;
}
html header .header-main .sign-in a {
  text-decoration: none;
}
html header .header-main .sign-in a:hover {
  color: #00b3c8;
}
html header .header-main .check-out {
  border-left: 1px #c4c6cb solid;
  border-right: 1px #c4c6cb solid;
  text-align: center;
  color: #5b5c5a;
}
html header .header-main .check-out .check-price {
  margin-top: 10px;
  font-size: 1.5056250150564em;
  font-weight: bold;
  text-align: left;
}
html header .header-main .check-out .check-price span + span {
  display: inline-block;
  font-size: 1.0037500100376em;
  font-weight: normal;
}
html header .header-main .check-out .cart {
  vertical-align: middle;
}
html header .header-main a.checkout-button {
  display: block;
  height: 33px;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 7px;
  background-color: #eb7a2d;
  font-size: 1.0037500100376em;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
}
html header .header-main .checkout-button:hover {
  background-color: #eb932d;
}
html nav {
  background-color: #0098c8;
  clear: both;
  /* END Navigation */
  /* END NAV STYLE */
}
html nav div.navbar {
  margin: 0 auto;
  max-width: 1400px;
  border: 0px solid black;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: #0098c8;
  /* END navbar collapse */
  /*form navigation HIDDEN */
  /*END form navigation HIDDEN*/
}
html nav div.navbar .navbar-header .navbar-toggle {
  background-color: #eb7a2d;
  border-color: white;
}
html nav div.navbar .navbar-header .navbar-toggle .icon-bar {
  background-color: #0098c8;
}
html nav div.navbar .navbar-header .navbar-toggle:hover {
  background-color: #eb932d;
}
html nav div.navbar .navbar-collapse {
  width: 85%;
  max-width: 1200px;
  padding: 0;
  /*END button style*/
}
html nav div.navbar .navbar-collapse ul {
  /*button style*/
  /*active button*/
  /*END active button*/
  /*dropdown-menu style*/
  /*END dropdown-menu style*/
}
html nav div.navbar .navbar-collapse ul li a {
  font-family: serif;
  font-size: 1.6729166833959999em;
  color: white;
}
html nav div.navbar .navbar-collapse ul li a:hover {
  background-color: #00b3c8;
  color: white;
}
html nav div.navbar .navbar-collapse ul .active a,
html nav div.navbar .navbar-collapse ul .active a:focus {
  background-color: #eb7a2d;
  color: white;
}
html nav div.navbar .navbar-collapse ul .active a:hover {
  background-color: #eb932d;
  color: white;
}
html nav div.navbar .navbar-collapse ul .dropdown .dropdown-menu {
  background-color: #00b3c8;
}
html nav div.navbar .navbar-collapse ul .dropdown .dropdown-menu a:hover {
  background-color: #0098c8;
}
html nav div.navbar .nav-form {
  position: absolute;
  right: 0;
  width: 320px;
  display: inline-block;
  margin-top: 2px;
  /*form navigation*/
  /*END form navigation*/
}
html nav div.navbar .nav-form form.navbar-form {
  width: 100%;
}
html nav div.navbar .nav-form form.navbar-form input {
  position: relative;
  z-index: 1;
  display: inline-block;
  float: left;
  margin-left: 0;
  height: 34px;
  padding: 5px;
  border-color: #0098c8;
  border: none;
}
html nav div.navbar .nav-form form.navbar-form button {
  position: relative;
  z-index: 2;
  float: right;
  margin-right: 0;
  margin-left: -10px;
  width: 37px;
  height: 34px;
  background-color: #eb7a2d;
  border: none;
  color: white;
}
html nav div.navbar .nav-form form.navbar-form button:active {
  border: none;
}
html nav div.navbar .nav-form form.navbar-form button:hover {
  background-color: #eb932d;
}
html nav div.navbar .form-hidden {
  float: left;
  margin-top: 8px;
  margin-left: 8px;
  display: none;
}
html nav div.navbar .form-hidden input {
  position: relative;
  z-index: 1;
  height: 34px;
  padding: 5px;
  border-color: #0098c8;
  border: none;
}
html nav div.navbar .form-hidden button {
  position: relative;
  z-index: 2;
  width: 37px;
  height: 34px;
  margin-left: -10px;
  background-color: #eb7a2d;
  border: none;
  color: white;
}
html nav div.navbar .form-hidden button:active {
  border: none;
}
html nav div.navbar .form-hidden button:hover {
  background-color: #eb932d;
}
html nav .navbar-default .navbar-nav > .open > a,
html nav .navbar-default .navbar-nav > .open > a:hover,
html nav .navbar-default .navbar-nav > .open > a:focus {
  background-color: #00b3c8;
  color: white;
}
html .slider-part {
  color: #0098c8;
  /* Slider-controls buttom */
  /* END Slider-controls buttom */
}
html .slider-part .carousel-inner {
  /* ITEM */
  /* END ITEM */
  /* Item and content-slide */
  /* END Item and slide content */
}
html .slider-part .carousel-inner .item {
  padding: 0 8.33%;
  background-color: #d8f5fe;
}
html .slider-part .carousel-inner .item .row {
  margin: 0 auto;
  /* Content for slider */
  /* END  Content for slider */
}
html .slider-part .carousel-inner .item .row .content-slide {
  max-width: 1400px;
  height: 565px;
  margin: 0 auto;
}
html .slider-part .carousel-inner .item .row .content-slide section {
  position: relative;
  height: 100%;
  width: 50%;
  float: left;
  -webkit-transition: 0.7s ease-in-out opacity;
  transition: 0.7s ease-in-out opacity;
  left: 0 !important;
  /* go-shop button*/
}
html .slider-part .carousel-inner .item .row .content-slide section h2 {
  margin-top: 1.68067%;
  font-size: 2.18229170849em;
}
html .slider-part .carousel-inner .item .row .content-slide section h1 {
  margin-top: 8.68067%;
  font-size: 4.0225000602256em;
}
html .slider-part .carousel-inner .item .row .content-slide section p {
  font-size: 1.5056250150564em;
  margin-top: 5.042016%;
  color: #5b5c5a;
}
html .slider-part .carousel-inner .item .row .content-slide section a.go-shop {
  position: absolute;
  display: block;
  width: 155px;
  height: 50px;
  bottom: 140px;
  padding-top: 15px;
  background-color: #eb7a2d;
  text-align: center;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
html .slider-part .carousel-inner .item .row .content-slide section .go-shop:hover {
  background-color: #eb932d;
}
html .slider-part .carousel-inner .item .row .content-slide .slider-img {
  width: 50%;
  height: 100%;
  float: right;
}
html .slider-part .carousel-inner .item .row .content-slide .slider-img img {
  max-width: 100%;
  height: auto;
  margin-top: 30px;
  float: right;
}
html .slider-part .carousel-inner div.slide-1 .row .content-slide section h2 {
  margin-top: 8.68067%;
}
html .slider-part .carousel-inner div.slide-1 .row .content-slide section h1 {
  margin-top: 1.68067%;
}
html .slider-part .carousel-inner div.slide-2 {
  background-color: #fceacb;
}
html .slider-part .carousel-inner div.slide-2 .row .content-slide section h2 {
  margin-top: 1.68067%;
  font-size: 2.18229170849em;
}
html .slider-part .carousel-inner div.slide-2 .row .content-slide section h1 {
  margin-top: 8.68067%;
  font-size: 4.0225000602256em;
}
html .slider-part .carousel-inner div.slide-2 .row .content-slide .slider-img img {
  margin-top: 140px;
}
html .slider-part .carousel-inner div.slide-3 {
  background-color: #ddddde;
}
html .slider-part .carousel-inner div.slide-3 .row .content-slide img {
  display: block;
  position: absolute;
  z-index: 100000;
  right: 0;
  bottom: 0;
}
html .slider-part .carousel-inner div.slide-4 {
  background-color: #e0e2e3;
}
html .slider-part .carousel-inner div.slide-4 .row .content-slide img {
  width: 50%;
  height: auto;
  display: block;
  position: absolute;
  z-index: 100000;
  right: 0;
  bottom: 0;
}
html .slider-part .slider-controls {
  margin-left: 8.33%;
  position: absolute;
  z-index: 1000;
  bottom: 40px;
}
html .slider-part .slider-controls .carousel-control {
  display: block;
  width: 50px;
  height: 50px;
  float: left;
  background-color: white;
  color: #999999;
  text-align: center;
  font-size: 22px;
}
html .slider-part .slider-controls .carousel-control .glyphicon {
  margin-top: 12px;
}
html .slider-part .slider-controls .left {
  margin-right: 15px;
}
html .sellers {
  border: 1px solid black;
  height: 800px;
  background-color: #f2f2f2;
  padding-bottom: 90px;
  /* tabs */
  /* END tabs */
  /* tab content */
  /* END tab content */
}
html .sellers .tabs {
  width: 100%;
  display: inline-block;
  margin: 0 auto;
  margin-top: 80px;
  text-align: center;
}
html .sellers .tabs ul li {
  display: block;
  float: left;
  position: relative;
  height: 75px;
  margin-bottom: 15px;
  margin-left: 12%;
  font-family: Avalon;
  font-size: 28pt;
  text-align: center;
  cursor: pointer;
  padding: 0 !important;
  color: #5b5c5a;
}
html .sellers .tabs ul li a {
  padding: 0;
}
html .sellers .tabs ul li a:hover {
  height: 60px;
  padding: 0;
  background-color: #f2f2f2 !important;
  border-bottom: 0 solid #f2f2f2;
  color: #0098c8;
  cursor: pointer;
}
html .sellers .tabs ul li.active {
  background-color: #f2f2f2 !important;
  border-bottom: 2px solid #0098c8;
  color: #0098c8;
  cursor: pointer;
}
html .sellers .tabs ul li.active a,
html .sellers .tabs ul li.active a:hover,
html .sellers .tabs ul li.active a:focus {
  height: 60px;
  background-color: #f2f2f2 !important;
  border-bottom: 0 solid #f2f2f2;
  border: 1px solid #f2f2f2;
  color: #0098c8;
  cursor: pointer;
}
html .sellers .tabs ul li.active:hover {
  padding: 0;
  background-color: #f2f2f2 !important;
  border-bottom: 2px solid #0098c8;
  color: #0098c8;
  cursor: pointer;
}
html .sellers .tabs ul li:hover {
  padding: 0;
  background-color: #f2f2f2 !important;
  border-bottom: 2px solid #0098c8;
  color: #0098c8;
  cursor: pointer;
}
html .sellers .tab-content {
  height: 395px;
}
html .sellers .tab-content .tab-pane {
  padding: 0;
  height: 395px;
}
html .sellers .tab-content .tab-pane .scroll-img {
  width: 100%;
  margin-top: -11px;
  padding: 0;
  font-size: 0;
  height: 142px;
  overflow: hidden;
}
html .sellers .tab-content .tab-pane .scroll-img ul {
  width: 100%;
  height: 600px;
  margin: 0;
}
html .sellers .tab-content .tab-pane .scroll-img ul li {
  display: inline-block;
  margin: 0 0 10px 10px;
}
html .sellers .tab-content .tab-pane #sellers-show,
html .sellers .tab-content .tab-pane #sellers-show-1,
html .sellers .tab-content .tab-pane #sellers-show-2 {
  width: 100%;
  height: 395px;
}
html .sellers .tab-content .tab-pane #sellers-show ul,
html .sellers .tab-content .tab-pane #sellers-show-1 ul,
html .sellers .tab-content .tab-pane #sellers-show-2 ul {
  padding: 0;
}
html .sellers .tab-content .tab-pane #sellers-show ul li,
html .sellers .tab-content .tab-pane #sellers-show-1 ul li,
html .sellers .tab-content .tab-pane #sellers-show-2 ul li {
  width: 285px;
  height: 395px;
  margin-left: 0;
  padding: 0;
}
html .sellers .tab-content .tab-pane #sellers-show ul li .sel,
html .sellers .tab-content .tab-pane #sellers-show-1 ul li .sel,
html .sellers .tab-content .tab-pane #sellers-show-2 ul li .sel {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  cursor: default;
  float: left;
  height: 390px;
  margin-left: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}
html .sellers .tab-content .tab-pane #sellers-show ul li .sel img,
html .sellers .tab-content .tab-pane #sellers-show-1 ul li .sel img,
html .sellers .tab-content .tab-pane #sellers-show-2 ul li .sel img {
  margin-bottom: 15px;
  margin-top: 10px;
  position: relative;
  vertical-align: middle;
}
html .sellers .tab-content .tab-pane #sellers-show ul li .sel .seller-info,
html .sellers .tab-content .tab-pane #sellers-show-1 ul li .sel .seller-info,
html .sellers .tab-content .tab-pane #sellers-show-2 ul li .sel .seller-info {
  width: 100%;
  border-top: 1px solid #e0e0e0;
  color: #555555;
  font-size: 18px;
  padding: 20px 0 30px 30px;
  text-align: left;
}
html .sellers .tab-content .tab-pane #sellers-show ul li .sel .seller-info .model-seller,
html .sellers .tab-content .tab-pane #sellers-show-1 ul li .sel .seller-info .model-seller,
html .sellers .tab-content .tab-pane #sellers-show-2 ul li .sel .seller-info .model-seller {
  padding: 0;
}
html .sellers .tab-content .tab-pane #sellers-show ul li .sel .seller-info span:nth-child(1),
html .sellers .tab-content .tab-pane #sellers-show-1 ul li .sel .seller-info span:nth-child(1),
html .sellers .tab-content .tab-pane #sellers-show-2 ul li .sel .seller-info span:nth-child(1) {
  font-weight: bold;
}
html .sellers .tab-content .tab-pane #sellers-show ul li .sel .seller-info .seller-price,
html .sellers .tab-content .tab-pane #sellers-show-1 ul li .sel .seller-info .seller-price,
html .sellers .tab-content .tab-pane #sellers-show-2 ul li .sel .seller-info .seller-price {
  color: #eb7a2d;
  font-family: Arial;
  font-size: 14pt;
  margin-top: 5px;
  padding: 0;
}
html .sellers .tab-content .tab-pane #sellers-show ul li .sel .mask,
html .sellers .tab-content .tab-pane #sellers-show-1 ul li .sel .mask,
html .sellers .tab-content .tab-pane #sellers-show-2 ul li .sel .mask {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}
html .sellers .tab-content .tab-pane #sellers-show ul li .sel .mask a.info,
html .sellers .tab-content .tab-pane #sellers-show-1 ul li .sel .mask a.info,
html .sellers .tab-content .tab-pane #sellers-show-2 ul li .sel .mask a.info {
  background-color: #ffffff;
  color: #555555;
  display: inline-block;
  font-size: 12pt;
  height: 45px;
  left: 0;
  margin-top: 100px;
  padding-top: 12px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 170px;
}
html .sellers .tab-content .tab-pane #sellers-show ul li .sel .mask a.info img,
html .sellers .tab-content .tab-pane #sellers-show-1 ul li .sel .mask a.info img,
html .sellers .tab-content .tab-pane #sellers-show-2 ul li .sel .mask a.info img {
  bottom: 0;
  float: left;
  left: 0;
  margin-left: 10px;
  position: absolute;
  right: 0;
  top: 1px;
}
html .sellers .tab-content .tab-pane #sellers-show ul li .sel .mask a.info:hover,
html .sellers .tab-content .tab-pane #sellers-show-1 ul li .sel .mask a.info:hover,
html .sellers .tab-content .tab-pane #sellers-show-2 ul li .sel .mask a.info:hover {
  -webkit-box-shadow: 0 0 5px #000000;
  box-shadow: 0 0 5px #000000;
}
html .sellers .tab-content .tab-pane #sellers-show ul li .sel .mask a:nth-child(2),
html .sellers .tab-content .tab-pane #sellers-show-1 ul li .sel .mask a:nth-child(2),
html .sellers .tab-content .tab-pane #sellers-show-2 ul li .sel .mask a:nth-child(2) {
  margin-top: 20px;
}
html .sellers .tab-content .tab-pane #sellers-show ul li .sel-first img,
html .sellers .tab-content .tab-pane #sellers-show-1 ul li .sel-first img,
html .sellers .tab-content .tab-pane #sellers-show-2 ul li .sel-first img {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
html .sellers .tab-content .tab-pane #sellers-show ul li .sel-first .mask,
html .sellers .tab-content .tab-pane #sellers-show-1 ul li .sel-first .mask,
html .sellers .tab-content .tab-pane #sellers-show-2 ul li .sel-first .mask {
  -webkit-transition: all 0.4s ease-in-out;
  background-color: rgba(219, 127, 8, 0.7);
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
}
html .sellers .tab-content .tab-pane #sellers-show ul li .sel-first .mask a.info,
html .sellers .tab-content .tab-pane #sellers-show-1 ul li .sel-first .mask a.info,
html .sellers .tab-content .tab-pane #sellers-show-2 ul li .sel-first .mask a.info {
  -webkit-transition: all 0.2s ease-in-out;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}
html .sellers .tab-content .tab-pane #sellers-show ul li .sel-first:hover img,
html .sellers .tab-content .tab-pane #sellers-show-1 ul li .sel-first:hover img,
html .sellers .tab-content .tab-pane #sellers-show-2 ul li .sel-first:hover img {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
html .sellers .tab-content .tab-pane #sellers-show ul li .sel-first:hover .mask,
html .sellers .tab-content .tab-pane #sellers-show-1 ul li .sel-first:hover .mask,
html .sellers .tab-content .tab-pane #sellers-show-2 ul li .sel-first:hover .mask {
  opacity: 1;
}
html .sellers .tab-content .tab-pane #sellers-show ul li .sel-first:hover a.info,
html .sellers .tab-content .tab-pane #sellers-show-1 ul li .sel-first:hover a.info,
html .sellers .tab-content .tab-pane #sellers-show-2 ul li .sel-first:hover a.info {
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -webkit-transition-delay: 0.2s;
  opacity: 1;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
html .sellers .tab-content .tab-pane #sellers-show ul li:hover,
html .sellers .tab-content .tab-pane #sellers-show-1 ul li:hover,
html .sellers .tab-content .tab-pane #sellers-show-2 ul li:hover {
  border: none;
}
html .sellers .tab-content .tab-pane #sellers-show.scroll-img ul {
  width: 1500px;
}
html .sellers .tab-content .tab-pane #sellers-show-btn {
  display: block;
  padding-top: 10px;
}
html .services {
  margin-bottom: 45px;
}
html .services .service {
  width: 31%;
  height: 295px;
  margin-top: 40px;
  margin-left: 30px;
  border: 1px solid #e0e0e0;
  text-align: center;
}
html .services .service img {
  margin-top: 30px;
  vertical-align: middle;
}
html .services .service h3 {
  margin-top: 25px;
  margin-bottom: 28px;
  font-family: Avalon;
  font-size: 22pt;
  color: #0098c8;
}
html .services .service:nth-child(1) {
  margin-left: 0;
}
html .news .new {
  width: 23%;
  height: 470px;
  margin-top: 50px;
  margin-bottom: 95px;
  margin-left: 30px;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  text-align: left;
  font-size: 10pt;
  color: #5b5c5a;
}
html .news .new img {
  width: 100%;
}
html .news .new .news-description {
  padding: 20px;
}
html .news .new .news-description h4 {
  font-family: Roboto;
  font-size: 14pt;
}
html .news .new .news-description a {
  font-style: italic;
  color: #eb7a2d;
}
html .news .new .news-description footer a {
  font-style: normal;
  font-weight: bold;
}
html .news .new:nth-child(2) {
  margin-left: 0;
}
html .news h2 {
  margin-top: 60px;
  font-family: Avalon;
  font-size: 32pt;
  color: #5b5c5a;
  text-align: center;
}
html footer.footer-site {
  background-color: #1c2024;
  padding-top: 25px;
  font-family: Roboto;
  font-size: 10pt;
  color: #ffffff;
}
html footer.footer-site .footer-container {
  padding-bottom: 30px;
}
html footer.footer-site .footer-container .footer-logo p {
  margin-top: 20px;
}
html footer.footer-site .footer-container .footer-information {
  padding-right: 0;
  text-align: left;
}
html footer.footer-site .footer-container .footer-information h4 {
  margin-bottom: 32px;
}
html footer.footer-site .footer-container .footer-information a {
  color: #ffffff;
}
html footer.footer-site .footer-container .newsletter {
  padding-right: 0;
  /*footer form*/
  /*END footer form*/
  /*social networks sprite*/
  /*END social networks sprite*/
}
html footer.footer-site .footer-container .newsletter p {
  margin-top: 32px;
}
html footer.footer-site .footer-container .newsletter .footer-form {
  width: 100%;
  margin-top: 12px;
  float: left;
  color: #ffffff;
}
html footer.footer-site .footer-container .newsletter .footer-form input {
  float: left;
  height: 35px;
  padding: 5px 0 5px 15px;
  background-color: #000000;
  border-color: black;
}
html footer.footer-site .footer-container .newsletter .footer-form button {
  width: 30px;
  height: 35px;
  background-color: #eb7a2d;
  color: white;
  border: none;
}
html footer.footer-site .footer-container .newsletter .social-icons .social-icon {
  width: 26px;
  height: 26px;
  background-image: url('../img/social-sprites.png');
  display: inline-block;
  margin-top: 25px;
  margin-right: 10px;
  margin-bottom: 5px;
}
html footer.footer-site .footer-container .newsletter .social-icons .social-icon:hover {
  background-color: #34343b;
}
html footer.footer-site .footer-container .newsletter .social-icons .facebook {
  background-position: 0 0;
}
html footer.footer-site .footer-container .newsletter .social-icons .twitter {
  background-position: -26px 0;
}
html footer.footer-site .footer-container .newsletter .social-icons .google-plus {
  background-position: -52px 0;
}
html footer.footer-site .footer-container .newsletter .social-icons .pinterest {
  background-position: -78px 0;
}
html footer.footer-site .footer-container .payment {
  padding-right: 0;
  /*payment sprites*/
  /*END payment sprites*/
}
html footer.footer-site .footer-container .payment .payment-icons .payment-icon {
  width: 45px;
  height: 30px;
  background-image: url('../img/payment-sprites.png');
  display: inline-block;
  margin-top: 25px;
  margin-right: 10px;
  margin-bottom: 5px;
}
html footer.footer-site .footer-container .payment .payment-icons .mastercard {
  background-position: 0 0;
}
html footer.footer-site .footer-container .payment .payment-icons .visa {
  width: 41px;
  background-position: -45px 0;
}
html footer.footer-site .footer-container .payment .payment-icons .bank {
  width: 42px;
  background-position: -87px 0;
}
html footer.footer-site .footer-container .payment .payment-icons .sofort {
  width: 75px;
  height: 25px;
  background-position: 0 -29px;
}
html footer.footer-site .footer-container .payment .payment-icons .bitcoin {
  width: 75px;
  height: 25px;
  background-position: -75px -29px;
}
html footer.footer-site .footer-bottom {
  background-color: #000001;
}
html footer.footer-site .footer-bottom p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #ffffff;
}
/*html, body*/
