.navbar {
            background-color: #0098c8;
            .row { 
                div {
                    margin-right: 50px;
                    p {
                        margin-top: 15px;
                        a {
                        font-family: Avalon;
                        font-size: 20pt;
                        color: white;                          
                            span {
                                position: absolute;
                                margin-top: 0;
                                margin-left: 0px;
                            }
                        }
                        a:hover {
                             color: #00f0f9;   
                            }

                    }
                }
            }
        }